$font-base: 'Roboto';
$font-icons: 'icomoon';

$fw-normal: 400;
$fw-bold: 900;
$fw-semi-bold: 700;

$color-blue: #0E49B5;
$color-black: #000;
$color-white: #fff;
$color-grey: #767272;
$color-border: #E0E0E0;
$color-disabled: #DDD;
$color-stats: #3B3E66;

$bg-stats: #DAE2EA;

$border-radius: 4px;
$transition: .4s;